{% extends "base.twig" %}

{% block content %}
    <div class="blog-header">
        <h1 class="blog-title">{{ blogTitle }}</h1>
        <p class="lead blog-description">{{ blogDesc }}</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            {% for post in posts %}
                <div class="blog-post">
                    <h2 class="blog-post-title"><a href="/posts/{{ post.getId }}">{{ post.getTitle }}</a></h2>
                    <p class="blog-post-meta">{{ post.getCreatedAt|date('F jS, Y') }}</p>
                    <p>{{ post.getSubtitle }}</p>
                </div>
            {% endfor %}
            <nav>
                <ul class="pager">
                    {% if previousPage is not null %}
                        <li><a href="/posts/page/{{ previousPage.getValue }}">Previous</a></li>
                    {% endif %}
                    {% if nextPage is not null %}
                        <li><a href="/posts/page/{{ nextPage.getValue }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Etiam porta <em>sem malesuada magna</em></p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
{% endblock %}
