{% extends "admin-base.twig" %}
{% block content %}
    <h1>New post</h1>
    {% if error is defined %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% elseif success is defined %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    <form method="post" action="/posts">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input type="text" class="form-control" id="post-title" name="post[title]" value="{{ post['title']|default('') }}">
        </div>
        <div class="form-group">
            <label for="post-subtitle">Subtitle</label>
            <input type="text" class="form-control" id="post-subtitle" name="post[subtitle]" value="{{ post['subtitle']|default('') }}">
        </div>
        <div class="form-group">
            <label for="post-text">Text</label>
            <textarea class="form-control wysiwyg-input" rows="20" id="post-text" name="post[text]">
                {{ post['text']|default('') }}
            </textarea>
        </div>
        <div class="form-group">
            <label for="post-author">Author</label>
            <select class="form-control" id="post-author" name="post[author]">
                {% for author in authors %}
                    <option value="{{ author.getId }}" {% if post is defined and author.getId == post['author'] %}selected{% endif %}>
                        {{ author.getName }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="post-state">State</label>
            <select class="form-control" id="post-state" name="post[state]">
                <option value="published" {% if post is defined and post['state'] == 'published' %}selected{% endif %}>
                    Published
                </option>
                <option value="draft" {% if post is defined and post['state'] == 'draft' %}selected{% endif %}>
                    Draft
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin" class="btn btn-default">Cancel</a>
    </form>
{% endblock %}

{% block javascript %}
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script src="/js/admin-post-form.js"></script>
{% endblock %}
