{% extends "base.twig" %}
{% block title %}{{ post.getTitle }} | Simple Blog{% endblock %}

{% block content %}
    <div class="blog-post blog-post-show">
        <div class="blog-header post-header">
            <h1>{{ post.getTitle }}</h1>
            <p class="lead blog-description post-description">{{ post.getSubtitle }}</p>
        </div>
        <div class="row post-content">
            <p>{{ post.getText | raw }}</p>
        </div>
        <br />
        <p class="blog-post-meta">{{ post.getCreatedAt|date('F jS, Y') }} | Written by {{ post.getAuthor.getName }}</p>
    </div>
{% endblock %}
