{% extends "admin-base.twig" %}
{% block content %}
    <div class="blog-header">
        <h1>Admin Index</h1>
    </div>
    <div class="row">
        {% if success is defined %}
            <div class="alert alert-success" role="alert">
                {{ success }}
            </div>
        {% endif %}
        <h2 class="admin-section">Blog Configuration</h2>
        <a class="admin-action btn btn-primary" href="/admin/info/edit">Update Blog Configuration</a>
        {% if title is empty %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Blog configuration is not fully done</h4>
                <p>Note: You should probably configure this before anything else!</p>
            </div>
        {% endif %}
        <h2 class="admin-section">Authors</h2>
        <a href="/authors/new" class="admin-action btn btn-primary">Add Author</a>
        {% if authors is empty %}
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">No Author</h4>
                <p>You need to add at least one author before writing blog posts</p>
            </div>
        {% else %}
            <ul>
                {% for author in authors %}
                    <li>{{ author.getName }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h2 class="admin-section">Latest Blog Posts</h2>
        <a href="/posts/new" class="admin-action btn btn-primary">Write New Post</a>
        <ul>
            {% for post in posts %}
                <li>
                    <a href="/posts/{{ post.getId }}/edit">{{ post.getTitle }}</a>
                    <a class="btn btn-xs btn-default" href="/admin/posts/{{ post.getId }}/comments">
                        Comments ({{ post.getComments.count }})
                    </a>
                </li>
            {% endfor %}
        </ul>

        <h2 class="admin-section">External Links</h2>
        <a href="/external-links/new" class="admin-action btn btn-primary">Add External Link</a>
        <ul>
            {% for externalLink in externalLinks %}
                <li>
                    {{ externalLink.getName }}: {{ externalLink.getUrl }}
                    <button data-id="{{ externalLink.getId }}" class="btn btn-xs btn-danger delete-link">
                        Delete
                    </button>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}

{% block javascript %}
<script src="/js/admin-index.js"></script>
{% endblock %}